language: python
python:
  - "3.6"
cache: pip
install:
  - "export PYTHONPATH=$PYTHONPATH:$(pwd)"
  - pip install -r requirements_test.txt
script:
  - py.test --cov-report term-missing --cov cabrillo -v